@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --cor-bg: #222831;
  --cor-secundaria: #acacac;
  --cor-terciaria: #fff;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body {
  background-color: var(--cor-bg);
  padding: 10px;
}


